@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #d0ecff;
  font-family: 'Quicksand', sans-serif;
  color: #1b2a49;
  min-height: 100vh;
}

label {
  font-size: 0.75rem;
}


header {
  background-color: #a3d3f5;
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #1b2a49;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  padding: 0.5rem;
}

button {
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #3459c0;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}




.no-events-text {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 2rem;
  color: #1b2a49;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
}

.event-card {
  background-color: #a2f3ff;
  width: 260px;
  padding: 1.25rem;
  border-radius: 16px;
  border: 2px solid #a3d3f5;
  font-family: 'Quicksand', sans-serif;
}

.event-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #1b2a49;
  margin-bottom: 0.5rem;
  text-align: center;
}

.event-line {
  font-size: 1rem;
  color: #1b2a49;
  margin: 0.3rem 0;
}

.event-label {
  font-weight: 600;
  color: #1e3a8a;
}
